name: MLflow CI Training

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: file:///home/runner/mlruns
        run: |
          mlflow run MLProject
