name: MLflow CI Training

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-activate-base: true
        python-version: 3.12

    - name: Install MLflow
      shell: bash -l {0}
      run: |
        pip install mlflow scikit-learn pandas matplotlib

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        mlflow run MLProject
